<h1 class="text-center">Nuevo archivo</h1>
<h2 class="text-muted text-center pt-2">Cumplimenta el formulario para registrar un archivo en el sistema</h2>
<form class="pt-3 wrapper" [formGroup]="archiveForm" (ngSubmit)="onSent()">
    <div class="form-group py-2">
        <div class="input-field">
            <span class="bi bi-file-pdf-fill p-2"></span>
            <input type="text" placeholder="Título" name="titulo" id="titulo" required formControlName="titulo" (focus)="onFocus('titulo')">
        </div>
    </div>
    <div *ngIf="formSent && !clearedErrors.has('titulo') && titulo?.invalid" class="text-danger">
        <div *ngIf="titulo?.hasError('required')">El título es obligatorio.</div>
        <div *ngIf="titulo?.hasError('invalidName')">El formato del título no es correcto.</div>
    </div>

    <div class="form-group py-2">
        <div class="input-field">
            <span class="bi bi-calendar-event-fill p-2"></span>
            <input type="date" placeholder="Fecha publicación" name="fechaPubli" title="Fecha publicación" id="fechaPubli" required formControlName="fechaPubli" (focus)="onFocus('fechaPubli')">
        </div>
    </div>
    <div *ngIf="formSent && !clearedErrors.has('fechaPubli') && fechaPubli?.invalid" class="text-danger">
        <div *ngIf="fechaPubli?.hasError('required')">La fecha de publicación es obligatoria.</div>
        <div *ngIf="fechaPubli?.hasError('futureDate')">Debe ser anterior o igual a la fecha de hoy.</div>
    </div>

    <div class="form-group py-2">
        <div class="input-field file-upload-field">
            <span class="bi bi-image p-2"></span>
            <input type="file" accept="application/pdf" name="fichero" id="fichero" required (focus)="onFocus('fichero')" (change)="onFileSelected($event)">
        </div>
    </div>
    <div *ngIf="formSent && !clearedErrors.has('fichero') && fichero?.invalid" class="text-danger">
        <div *ngIf="fichero?.hasError('required')">El fichero es obligatorio. Debe ser en PDF</div>
    </div>

    <div class="form-group py-2">
        <div class="input-field input-field-top">
            <span class="bi bi-file-text-fill p-2"></span>
            <textarea placeholder="Resumen" name="resumen" id="resumen" required formControlName="resumen" rows="4" (focus)="onFocus('resumen')"></textarea>
        </div>
    </div>
    <div *ngIf="formSent && !clearedErrors.has('resumen') && resumen?.invalid" class="text-danger">
        <div *ngIf="resumen?.hasError('required')">El resumen es obligatorio.</div>
        <div *ngIf="resumen?.hasError('invalidDescription')">El formato del resumen es minimo 10 caracteres máximo 200.</div>
    </div>

    <div class="form-group py-2">
        <div class="input-field input-field-top position-relative">
            <span class="bi bi-person-plus-fill p-2"></span>
            <div class="container-author d-flex align-items-start gap-2">
                <div class="button-wrapper">
                    <button type="button" class="btn btn-outline-secondary mt-2 px-2" (click)="openAuthorDialog()"> Seleccionar autores</button>
                </div>
                <div class="tags-wrapper d-flex flex-wrap gap-2">
                    <span class="badge bg-primary d-flex align-items-center px-2 py-1 tag-badge" *ngFor="let autor of autores?.value">
                        {{ autor.nameSurname }}
                        <button type="button" class="btn-close btn-close-white btn-sm ms-2" (click)="removeAuthor(autor)"></button>
                    </span>
                </div>
            
            </div>
        </div>
    </div>
    <div *ngIf="formSent && !clearedErrors.has('autores') && autores?.invalid" class="text-danger">
        <div *ngIf="autores?.hasError('required')">El autor es obligatorio.</div>
    </div>

    <button class="btn btn-block text-center my-3">Crear</button>
    
</form>