<h1 class="text-center">Información del libro: {{name}} </h1>
<h2 class="text-muted text-center pt-2">Esta es la información que tenemos sobre este libro</h2>
<p class="text-muted text-center pt-2" *ngIf="!isClient">El usuario creador es: {{usernameCreatedBy}}</p>

<form class="pt-3 wrapper" [formGroup]="bookForm" (ngSubmit)="onSent()">

    <div class="form-group text-center d-flex justify-content-center gap-3 my-3">
        <button type="button" class="btn btn-add-view text-center my-3 p-2" (click)="viewCopyBook()">
            Ver ejemplares
            <span class="bi bi-eye p-2"></span>
        </button>
        <button type="button" class="btn btn-add-view text-center my-3 p-2" (click)="addCopyBook()" *ngIf="!isClient">
            Añadir ejemplar
            <span class="bi bi-file-earmark-plus p-2"></span>
        </button>
    </div>
    
    <div class="image-preview p-3 rounded ">
        <img *ngIf="bookForm.value.foto" [src]="'data:' + bookForm.value.fotoMimeType + ';base64, '+ bookForm.value.foto" alt="Imagen libro" class="img-fluid rounded" />
        <p *ngIf="!bookForm.value.foto" class="text-muted"> No se puede mostrar la imagen</p>
    </div>

    <div class="form-group py-2">
        <div class="input-field" [class.disabled]="!editMode">
            <span class="bi bi-book-half p-2"></span>
            <input type="text" placeholder="Título" name="titulo" id="titulo" formControlName="titulo" (focus)="onFocus('titulo')" [readonly]="!editMode" [required]="editMode">
        </div>
    </div>
    <div *ngIf="formSent && !clearedErrors.has('titulo') && titulo?.invalid" class="text-danger">
        <div *ngIf="titulo?.hasError('required')">El título es obligatorio.</div>
        <div *ngIf="titulo?.hasError('invalidName')">El formato del título no es correcto.</div>
    </div>
    
    <div class="form-group py-2">
        <div class="input-field disabled">
            <span class="bi bi-person-vcard-fill p-2"></span>
            <input type="text" name="isbn" id="isbn" readonly formControlName="isbn" >
        </div>
    </div>

    <div class="form-group py-2">
        <div class="input-field" [class.disabled]="!editMode">
            <span class="bi bi-journal-bookmark-fill p-2"></span>
            <input type="text" placeholder="Editorial" name="editorial" id="editorial" formControlName="editorial" (focus)="onFocus('editorial')" [readonly]="!editMode" [required]="editMode">
        </div>
    </div>
    <div *ngIf="formSent && !clearedErrors.has('editorial') && editorial?.invalid" class="text-danger">
        <div *ngIf="editorial?.hasError('required')">La editorial es obligatoria.</div>
        <div *ngIf="editorial?.hasError('invalidName')">El formato de la editorial no es correcto.</div>
    </div>
    
    <div class="form-group py-2">
        <div class="input-field" [class.disabled]="!editMode">
            <span class="bi bi-file-earmark-fill p-2"></span>
            <input type="number" placeholder="Número de páginas" name="numpag" id="numpag" formControlName="numpag" (focus)="onFocus('numpag')" [readonly]="!editMode" [required]="editMode">
        </div>
    </div>
    <div *ngIf="formSent && !clearedErrors.has('numpag') && numpag?.invalid" class="text-danger">
        <div *ngIf="numpag?.hasError('required')">El número de páginas es obligatorio.</div>
        <div *ngIf="numpag?.hasError('invalidNumPag')">El número de páginas debe ser mayor de 0.</div>
    </div>

    <div class="form-group py-2">
        <div class="input-field disabled">
            <span class="bi bi-calendar-event-fill p-2"></span>
            <input type="date" name="fechaPubli" id="fechaPubli" title="Fecha publicación" readonly formControlName="fechaPubli" >
        </div>
    </div>

    <div class="form-group py-2" *ngIf="!isClient">
        <div class="input-field file-upload-field" [class.disabled]="!editMode">
            <span class="bi bi-image p-2"></span>
            <input type="file" accept="image/*" name="foto" id="foto" (focus)="onFocus('foto')" (change)="onImageSelected($event)" [disabled]="!editMode" [required]="editMode">
        </div>
    </div>
    <div *ngIf="formSent && !clearedErrors.has('foto') && foto?.invalid" class="text-danger">
        <div *ngIf="foto?.hasError('required')">La imagen es obligatoria.</div>
    </div>

    <div class="form-group py-2">
        <div class="input-field input-field-top" [class.disabled]="!editMode">
            <span class="bi bi-file-text-fill p-2"></span>
            <textarea placeholder="Resumen" name="resumen" id="resumen" formControlName="resumen" rows="4" (focus)="onFocus('resumen')" [disabled]="!editMode" [required]="editMode"></textarea>
        </div>
    </div>
    <div *ngIf="formSent && !clearedErrors.has('resumen') && resumen?.invalid" class="text-danger">
        <div *ngIf="resumen?.hasError('required')">El resumen es obligatorio.</div>
        <div *ngIf="resumen?.hasError('invalidDescription')">El formato del resumen es minimo 10 caracteres máximo 200.</div>
    </div>

    <div class="form-group py-2">
        <div class="input-field input-field-top position-relative" [class.disabled]="!editMode">
            <span class="bi bi-person-plus-fill p-2"></span>
            <div class="container-author d-flex align-items-start gap-2">
                <div class="button-wrapper" *ngIf="editMode">
                    <button type="button" class="btn btn-outline-secondary mt-2 px-2" (click)="openAuthorDialog()"> Seleccionar autores</button>
                </div>
                <div class="tags-wrapper d-flex flex-wrap gap-2">
                    <span class="badge bg-primary d-flex align-items-center px-2 py-1 tag-badge" *ngFor="let autor of autores?.value">
                        {{ autor.nameSurname }}
                        <button *ngIf="editMode" type="button" class="btn-close btn-close-white btn-sm ms-2" (click)="removeAuthor(autor)"></button>
                    </span>
                </div>
            
            </div>
        </div>
    </div>
    <div *ngIf="formSent && !clearedErrors.has('autores') && autores?.invalid" class="text-danger">
        <div *ngIf="autores?.hasError('required')">El autor es obligatorio.</div>
    </div>


    <div class="form-group py-2 text-center" *ngIf="canEditOrDelete">
        <button type="button" class="btn btn-edit-mode text-center my-3" (click)="editMode ? deshabilitarEdicion() : habilitarEdicion()" >
            {{ editMode ? 'Cancelar edición' : 'Modo edición' }}
            <span *ngIf="editMode" class="bi bi-slash-circle p-2"></span>
            <span *ngIf="!editMode" class="bi bi-pencil p-2"></span>
        </button>
    </div>


    <button *ngIf="editMode" class="btn btn-block text-center my-3">Actualizar cambios</button>
    <div class="form-group text-center" *ngIf="canEditOrDelete">
        <button type="button" class="btn btn-outline-danger my-3" (click)="deleteBook()">Borrar libro</button>
    </div>
    <div class="form-group text-center" *ngIf="!canEditOrDelete">
        <button type="button" class="btn btn-block text-center my-3" (click)="goBack()">Volver</button>
    </div>
       
    
</form>