<h1 class="text-center">Nuevo ejemplar</h1>
<h2 class="text-muted text-center pt-2">Cumplimenta el formulario para registrar un ejemplar en el sistema</h2>
<form class="pt-3 wrapper" [formGroup]="copybookForm" (ngSubmit)="onSent()">
    <div class="form-group py-2">
        <div class="input-field">
            <span class="bi bi-map-fill p-2"></span>
            <input type="text" placeholder="Ubicación(pasillo, estantería, etc.)" name="ubicacion" id="ubicacion" required formControlName="ubicacion" (focus)="onFocus('ubicacion')">
        </div>
    </div>
    <div *ngIf="formSent && !clearedErrors.has('ubicacion') && ubicacion?.invalid" class="text-danger">
        <div *ngIf="ubicacion?.hasError('required')">La ubicación es obligatoria.</div>
        <div *ngIf="ubicacion?.hasError('invalidName')">El formato de la ubicación no es correcto.</div>
    </div>
    

    <div class="form-group py-2">
        <div class="input-field">
            <span class="bi bi-bookmark-fill p-2"></span>
            <input type="number" placeholder="Edición " name="edicion" id="edicion" required formControlName="edicion" (focus)="onFocus('edicion')">
        </div>
    </div>
    <div *ngIf="formSent && !clearedErrors.has('edicion') && edicion?.invalid" class="text-danger">
        <div *ngIf="edicion?.hasError('required')">El número de edición es obligatorio.</div>
        <div *ngIf="edicion?.hasError('invalidNumPag')">El número de edición debe ser mayor que cero.</div>
    </div>

    <div class="form-group py-2">
        <div class="input-field">
            <label for="libro" class="form-label p-2">Libro: </label>
            <input type="text" class="form-control border-0 focus-item-list" [ngbTypeahead]="searchBooks" [resultFormatter]="bookFormatter" [inputFormatter]="bookInputFormatter"
                    (selectItem)="onBookSelected($event)" (focus)="bookFocus$.next($any($event).target.value)" formControlName="libro" placeholder="Busca por título"
                    required id="libro" name="libro" #bookInstance="ngbTypeahead" #bookInput (blur)="validateBookInput()" [focusFirst]="false" />    
            <span class="bi bi bi-book-half p-2"></span>
        </div>
    </div>
    <div *ngIf="formSent && !clearedErrors.has('libro') && libro?.invalid" class="text-danger">
        <div *ngIf="libro?.hasError('required')">El libro es obligatorio.</div>
    </div>

    <div class="form-group py-2">
        <div class="input-field">
            <label for="biblio" class="form-label p-2">Biblioteca: </label>
            <input type="text" class="form-control border-0 focus-item-list" [ngbTypeahead]="searchLibraries" [resultFormatter]="libraryFormatter" [inputFormatter]="libraryInputFormatter"
                    (selectItem)="onLibrarySelected($event)" (focus)="libraryFocus$.next($any($event).target.value)" formControlName="biblio" placeholder="Busca por nombre"
                    required id="biblio" name="biblio" #libraryInstance="ngbTypeahead" #libraryInput (blur)="validateLibraryInput()" [focusFirst]="false" />    
            <span class="bi bi bi-buildings-fill p-2"></span>
        </div>
    </div>
    <div *ngIf="formSent && !clearedErrors.has('biblio') && biblio?.invalid" class="text-danger">
        <div *ngIf="biblio?.hasError('required')">La biblioteca es obligatoria.</div>
    </div>

    <button class="btn btn-block text-center my-3">Crear</button>
    
</form>